/* Gaya dasar box utilitas */
.utility-bar {
  background-color: transparent; /* Biar menyatu dengan background Waybar */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

/* Mengatur ukuran circular progress */
circular-progress {
  background-color: rgba(255, 255, 255, 0.1); /* Warna lingkaran kosong */
  min-height: 24px;
  min-width: 24px;
}

/* Icon di dalam lingkaran */
.circle-icon {
  font-size: 11px;
}

/* --- THRESHOLD COLORS --- */
.circle-cpu-normal { color: #69ff94; }     /* Hijau */
.circle-cpu-critical { color: #ff9977; }   /* Merah/Orange saat full load */

.circle-ram-normal { color: #2aa9ff; }     /* Biru */
.circle-ram-critical { color: #dd532e; }   /* Merah saat mau habis */

.circle-bat-normal { color: #a6e3a1; }     /* Hijau */
.circle-bat-low { color: #f38ba8; }        /* Merah saat lowbat */
